/* Dark Mode and main things */
body {
    background-color: #1e1e1e; /* Cinza escuro */
    color: white;
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

a {
    color: #bb86fc; /* Roxo claro para links */
    text-decoration: underline;
}

/* Estilo para o botão */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Cor de fundo */
    border: 1px solid #007BFF; /* Cor da borda */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para o botão quando passa o mouse por cima */
.btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    border: 1px solid #0056b3; /* Cor da borda ao passar o mouse */
}

.btn_red {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff1100; /* Cor de fundo */
    border: 1px solid #ff1100; /* Cor da borda */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
}

.btn_red:hover {
    background-color: #640202; /* Cor de fundo ao passar o mouse */
    border: 1px solid #640202; /* Cor da borda ao passar o mouse */
}

.container {
    display: flex;
    align-items: center;
}

#reply_text {
    width: 30%;
}

#sugestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 100px;
    width: 30%;
    overflow-y: auto;
}
  
#sugestions li {
    padding: 5px;
    cursor: pointer;
}

#sugestions li:hover {
    background-color: #f0f0f0;
}

li {
    background-color: #1e1e1e;
}

li.focused {
    background-color: #3d3d00; /* Amarelo claro */
}