/* Estilo para o botão */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border: 1px solid #007BFF; /* Cor da borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para o botão quando passa o mouse por cima */
.btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    border: 1px solid #0056b3; /* Cor da borda ao passar o mouse */
}

.btn_red {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff1100; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border: 1px solid #ff1100; /* Cor da borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
}

.btn_red:hover {
    background-color: #640202; /* Cor de fundo ao passar o mouse */
    border: 1px solid #640202; /* Cor da borda ao passar o mouse */
}

