<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMQ</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalize.js@latest"></script>
</head>
<body>
    <div>
        <h2 id="audio_info"></h2>
        <!-- 286x430 266x400 400x600 600x900 -->
        <img id="song_img" src="" width="300" height="450" style="display: none">
        <h3 id="difficulty_text"></h3>
        <!-- <audio id="audio-player" style="display: none;" controls>
            <source id="audio-src" src="{{ url_for('play') }}" type="audio/mpeg">
            Your browser doesn't support this audio tag.
        </audio> -->

        <audio id="player" style="display: none" hidden>
            <source src="{{ url_for('play') }}" type="audio/mpeg">
        </audio>
        <style>
            .plyr--audio .plyr__controls {
                display: none;
            }
        </style>

        <input id="button_listen" type="button" class="btn_green" style="margin-bottom: 30px; width: auto" value="Click to Listen!!!">
        <div id="volume-control" class="container">
            <label for="volume-slider">Volume Control:</label>
            <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5" style="margin-bottom: 0;">
        </div>
        <br>

        <form id="form_reply">
            <input type="text" id="reply_text" name="input" maxlength="70" placeholder="Write the movie..." style="height: 30px;" autocomplete="off">
            <button if="submit_button" type="submit" class="btn" style="margin-left: 10px;">Reply</button>
            <button onclick="skip()" class="btn_gray" style="margin-left: 10px;">Skip</button>
            <ul id="sugestions"></ul>
        </form>
        <br>

        <ul id="content" style="list-style-type: none">
        </ul>
        <br>

        <a onclick="returnLobby()" class="btn_red">Return to Lobby</a>
        <h3 id="final_message"></h3>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var audio_info = document.getElementById('audio_info');
        // var audio_player = document.getElementById('audio-player');
        var volume_slider = document.getElementById('volume-slider');
        var reply_text = document.getElementById("reply_text");
        var sugestions = document.getElementById("sugestions");
        var song_img = document.getElementById("song_img");
        var button_listen = document.getElementById("button_listen");
        var final_message = document.getElementById('final_message');

        /* Event to change the title sent by server */
        socket.on('title_refresh', function(data) {
            audio_info.innerHTML = data;
        });

        /* Event to add content of reply music */
        var difficulty_text = document.getElementById('difficulty_text');
        socket.on('music_content', function(data) {
            var data_json = JSON.parse(data);
            if(data_json.current_difficulty == "") {
                difficulty_text.innerHTML = "";
                song_img.style.display = 'none';

            } else {
                difficulty_text.innerHTML = data_json.current_difficulty + "% [" + data_json.current_default_difficulty + "] (" + data_json.count + ")";
                updateURLImage();
            }
        });

        /* If image don't exists, hide*/
        song_img.onerror = function() {
            song_img.style.display = 'none';
        };

        /* If image loads correctly, display it*/
        song_img.onload = function() {
            song_img.style.display = 'block';
        };


        /* Player of audio */
        const player = new Plyr('#player', {
            hideControls: true,
        });
        volume_slider.value = 0.5;
        // audio_player.volume = volume_slider.value;

        player.on('ready', () => {
            player.volume = volume_slider.value;
        });

        // EXPERIENCIA 1
        // var audio_volume = volume_slider.value;
        // var sound = new Howl({
        //     src: [window.location.origin + '/play'],
        //     format: ['mp3'],
        //     volume: audio_volume,
        // });


        /* Normalize */
        // const normalizer = normalizer = new Normalize({ targetLevel: -12 }); // Normalize to -12 dBFS
        const audioCtx = new AudioContext();
        const gainNode = audioCtx.createGain();
        gainNode.gain.value = 0.5;
        

        /* Event for when the server tell to client to play music  */
        socket.on('audio_play', function(data) {
            var data_json = JSON.parse(data);
            
            // ATUAL
            // if(audio_player.paused && data_json.command === 'play') {
            //     audio_player.load();
            //     audio_player.currentTime = data_json.time;
            //     audio_player.play();
            //     reply_text.value = "";
            // } else if (!audio_player.paused && data_json.command === 'pause') {
            //     audio_player.pause();
            // }

            if(player.paused && data_json.command === 'play') {
                
                fetch('/current_music')
                .then(response => response.json())
                .then(data => {
                    const musicFileUrl = data.url;

                    // const normalizedData = undefined;
                    // fetch(musicFileUrl)
                    // .then(response => response.arrayBuffer()) // Convert response to ArrayBuffer
                    // .then(arrayBuffer => {
                    //     // normalizedData = normalizer.process(arrayBuffer); // Normalize audio data
                        
                    //     audioCtx.decodeAudioData(arrayBuffer)
                    //     .then(audioBuffer => {
                    //         const source = audioCtx.createBufferSource();
                    //         source.buffer = audioBuffer;
                    //         source.connect(gainNode);
                    //         gainNode.connect(audioCtx.destination);
                    //     })
                    //     .catch(error => {
                    //         console.error('Error decoding audio:', error);
                    //     });
                        
                    // })
                    // .catch(error => {
                    //     console.error('Error fetching audio:', error);
                    // });

                    player.source = {
                        type: 'audio',
                        title: 'current_music',
                        sources: [
                            {
                                src: musicFileUrl,
                                // src: URL.createObjectURL(new Blob([normalizedData], { type: 'audio/mpeg' })),
                                // src: audioCtx.destination,
                                type: 'audio/mpeg',
                            }
                        ]
                    };
                })
                .catch(error => {
                    console.error('Error fetching music data:', error);
                });

                
                playSong(data_json.time);
                

                // player.on('ready', (event) => {
                //     console.log('currentTime:', player.currentTime);
                //     console.log('DATA TIME:', data_json.time);
                //     // player.play();
                //     // player.on('loadeddata', (event) => {
                //         // player.currentTime = data_json.time;
                //         // console.log('New currentTime ', player.currentTime);
                //         // player.play();
                //     // });
                    
                // })
                // .catch(error => {
                //     console.error('Error event ready of player:', error);
                // });
                    
                reply_text.value = "";
            } else if (!player.paused && data_json.command === 'pause') {
                player.pause();
            }


            // EXPERIENCIA 1
            // var data_json = JSON.parse(data);
            // if (!sound.playing() && data_json.command === 'play') {
            //     sound.unload();
            //     sound = undefined;
            //     sound = new Howl({
            //         src: [window.location.origin + '/play'],
            //         onload: function() {
            //             sound.seek(data_json.time);
            //             sound.play();
            //         },
            //         format: ['mp3'],
            //         volume: audio_volume,
            //     });
            //     reply_text.value = "";
            // } else if (sound.playing() && data_json.command === 'pause') {
            //     sound.stop();
            // }
        });

        async function playSong(currentTimeOfPlayer) {
            try {
                if(player !== undefined) {
                    player.on('ready', (event) => {
                        player.play();
                        player.on('loadeddata', (event) => {
                            player.currentTime = parseInt(currentTimeOfPlayer);
                        })
                        .catch(error => {
                            console.error('Error event loadeddata of player:', error);    
                        });  
                    })
                    .catch(error => {
                        console.error('Error event ready of player:', error);
                    });    
                }
            } catch (err) {
                console.error('Error playing song:', err);
            }
        }

        
        /* Volume Control */
        volume_slider.addEventListener('input', function() {

            // ATUAL
            // audio_player.volume = volume_slider.value;
            
            player.volume = volume_slider.value;

            // EXPERIENCIA 1
            // audio_volume = volume_slider.value;
            // sound.volume(audio_volume);
        });

        /* Autocomplete input text */
        reply_text.addEventListener("input", function() {
            var movie_texted = reply_text.value.toLowerCase();
            sugestions.innerHTML = ""; // Clean the list

            // AJAX to get the list of word of server
            fetch('/get_movies_with_alternatives')
                .then(function(response) {
                    return response.json();
                })
                .then(function(movies_list) {
                    movies_list.forEach(function(movie) {
                        if (movie.toLowerCase().indexOf(movie_texted) != -1) {
                            var item = document.createElement("li");
                            item.textContent = movie;
                            sugestions.appendChild(item);

                            item.addEventListener("click", function() {
                                reply_text.value = movie;
                                sugestions.innerHTML = ""; // Clean the list when select a sugestion
                            });
                        }
                    });

                    if(sugestions.length > 0) {
                        var firstItem = sugestions.childNodes[0];
                        firstItem.focus();
                        firstItem.classList.add('focused');
                    }
                });
        });

        /* Eventos para as setas para a barra de pesquisa */
        document.addEventListener("keydown", function(e) {
            var focusedItem = sugestions.querySelector('li.focused');
            var items = sugestions.querySelectorAll('li');

            if (e.key === "ArrowDown") {
                e.preventDefault();
                if (!focusedItem) {
                    items[0].classList.add('focused');
                } else {
                    var nextItem = focusedItem.nextElementSibling || items[0];
                    if (nextItem) {
                        focusedItem.classList.remove('focused');
                        nextItem.classList.add('focused');
                        nextItem.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
                    }
                }
            } else if (e.key === "ArrowUp") {
                e.preventDefault();
                if (!focusedItem) {
                    items[items.length - 1].classList.add('focused');
                } else {
                    var prevItem = focusedItem.previousElementSibling || items[items.length - 1];
                    if (prevItem) {
                        focusedItem.classList.remove('focused');
                        prevItem.classList.add('focused');
                        prevItem.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
                    }
                }
            } else if (e.key === "Enter" && focusedItem) {
                e.preventDefault();
                reply_text.value = focusedItem.textContent;
                sugestions.innerHTML = ""; // Clean the list when a movie is selected
            }
        });

        /* When click in other place than the list of suggestions, the focus is removed from the lsit */
        document.addEventListener('click', function(e) {
            if (!sugestions.contains(e.target)) {
                var items = sugestions.querySelectorAll('li');
                items.forEach(function(item) {
                    item.classList.remove('focused');
                });
            }
        });

        /* Send the reply movie to server */
        document.getElementById("form_reply").addEventListener("submit", function (event) {
            // if (event.submitter.type === "submit" && event.submitter.innerHTML === "Reply" && sound.playing()) {
            //     if(sound.playing()) {
            if (event.submitter.type === "submit" && 
                event.submitter.innerHTML === "Reply" && 
                audio_info.innerHTML.includes("Listen Carefully")) {
                event.preventDefault(); // Prevent the default form redirection
                var formulario = new FormData(this);
                socket.emit('/send_movie', this.elements["input"].value);
            } else {
                event.preventDefault();
                return false;
            }
        });

        /* Update the color of users verifying the reply movies */
        var list_users = document.getElementById('content');
        function refreshPlayers() {
            $.get('/get_replys_and_points', function(data) {
                list_users.innerHTML = '';
                data.forEach(function (element) {
                    var element_json = element;
                    var username = element_json.username;
                    var li = document.createElement('li');
                    var text = '[' + element_json.points + '] ' + username;
                    if (element_json.correct != "") {
                        text = text + ' | ' + element_json.movie;
                    }
                    li.appendChild(document.createTextNode(text));
                    li.style.color = "#ffffff";
                    if(element_json.correct == "false") {
                        li.style.color = "red";
                    } else if(element_json.correct == "true") {
                        li.style.color = "green";
                    } else if (element_json.skip) {
                        li.style.color = "yellow";
                    } else if(element_json.movie != "") {
                        li.style.color = "orange";
                    }
                    list_users.appendChild(li);
                });
                setTimeout(refreshPlayers, 500); // Update each 1 second (1000 ms)
            });
        }
        $(document).ready(function() {
            refreshPlayers();
        });

        /* Message to the server to inform that some people return to the lobby */
        function returnLobby() {
            fetch("/return_lobby", {method: 'POST', headers: { 'Content-Type': 'application/json'}})
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Error sending the message.');
            })
            .then(data => {
                if(data.status == "Message receive with success") {
                    console.log('Response of server:', data);
                    if(data.player == "player") {
                        window.location.href = "{{ url_for('lobby') }}";
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        /* Return to lobby from the server */
        socket.on('go_to_lobby', function(data) {
            window.location.href = "{{ url_for('lobby') }}";
        });

        /* Message for when the leader stop the game in the middle */
        socket.on('final_message', function(data) {
            final_message.innerHTML = "The room will close at the end of the song.";
        });

        /* Ask server what is the next URL image */
        function updateURLImage() {
            fetch("/image", {method: 'POST', headers: { 'Content-Type': 'application/json'}})
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Error sending the message.');
            })
            .then(data => {
                console.log('Response of server:', data);
                if(data.status == "Message receive with success" && hasImage(data.url)) {
                    song_img.src = data.url;
                    song_img.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        function hasImage(url) {
            return fetch(url, { method: 'HEAD' })
                .then(response => {
                    if (response.ok) {
                        return true;
                    } else {
                        return false;
                    }
                })
                .catch(error => {
                    console.error('Error to verify the image:', error);
                    return false;
                });
        }

        /* Message to the server to inform that some people skip the song */
        function skip() {
            fetch("/skip", {method: 'POST', headers: { 'Content-Type': 'application/json'}})
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Error sending the message.');
            })
            .then(data => {
                console.log('Response of server:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        /* Button to aprove listen de audio */
        button_listen.onclick = function() {
            button_listen.style.display = 'none';
        };
    </script>
</body>
</html>
