<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMQ</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Welcome to Disney Music Quiz</h1>
    <div class="container">
        <form action="/processar" method="post">
            <label for="input">Username:</label>
            <input type="text" id="input" name="input" required>
            <button type="submit" class="btn">Start</button>
        </form>
    </div>
    <h3 id="error_text" style="color:red">{{msg}}</h3>
</body>
</html>
