<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMQ</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/nouislider@14.6.4/distribute/nouislider.min.css">
</head>
<body>
    <div>
        <h1>Players in the room:</h1>
        <ul id="content">
        </ul>

        <form id="form_room" action="/room" method="post">
            <h3>Difficulty:</h3>

            <div id="percentage_div">
                <input type="checkbox" id="percentage" name="percentage" uncheck>
                <label for="percentage">Percentage</label>
            </div>
            <div id="default_div">
                <input type="checkbox" id="default" name="default">
                <label for="default">Pre Defined</label>
            </div>

            <div style="margin-left: 3%;">
                <div id="custom_div" style="display: none;">
                    <input type="checkbox" id="custom" name="custom" uncheck>
                    <label for="custom">Custom (%)</label>
                </div>
                <div id="range_div" style="display: none;">
                    <input type="checkbox" id="range" name="range" uncheck>
                    <label for="range">Range (%)</label>
                </div>
            
                <div id="difficulties_standarts_div" style="display: none;">
                    <input type="checkbox" id="easy" name="easy">
                    <label for="easy">Easy</label>
                    <input type="checkbox" id="medium" name="medium">
                    <label for="medium">Medium</label>
                    <input type="checkbox" id="hard" name="hard">
                    <label for="hard">Hard</label>
                </div>

                <div id="difficulties_div" style="display: none">
                    <div id="slider" style="width: 30%; margin-top: 10px;"></div>
                    <span id="min-value"></span>% to <span id="max-value"></span>%
                    <input type="hidden" id="sliderValue" name="sliderValue">
                </div>
            </div>

            <br>

            <input type="checkbox" id="english" name="english" checked>
            <label for="english">English</label>

            <input type="checkbox" id="portuguese" name="portuguese" checked>
            <label for="portuguese">Portuguese</label>

            <br><br>
            <!-- <a href="{{ url_for('room') }}" class="btn" style="margin-right:10px">Room</a> -->
            <input class="btn" style="margin-right:10px" type="submit" value="Room">    
        </form>
        
        <br>
        <a onclick="sendReadyServer()" class="btn" id="ready_btn">Ready</a>
        <a href="{{ url_for('close') }}" class="btn_red" id="leave_btn">Leave</a>
        
        <br>
        <h1>Movies available:</h1>
        <ul>
            {% for movie in movies %} 
                <li>{{movie}}</li> 
            {% endfor %}
        </ul>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
        <script src="https://unpkg.com/nouislider@14.6.4/distribute/nouislider.min.js"></script>
        <script>
            const url = new URL(window.location.href);
            var msg = url.searchParams.get('msg');;
            if(msg) {
                alert(msg);
            }

            var socket = io.connect('http://' + document.domain + ':' + location.port);

            var current_user = "";
            var current_status = false;

            /* Get all players */
            var list = document.getElementById('content');
            var ready_btn = document.getElementById('ready_btn');
            var leave_btn = document.getElementById('leave_btn');
            var form_room = document.getElementById('form_room');
            function refreshPlayers() {
                $.get('/get_all_players', function(data) {
                    list.innerHTML = '';
                    var all_players = data[0];
                    var leader = data[1];
                    current_user = data[2];
                    players_ready = data[3];
                    all_players.forEach(function (element) {
                        var li = document.createElement('li');
                        li.appendChild(document.createTextNode('[' + element.points + '] ' + element.username)); 
                        if(element.username == leader) {
                            li.style.color = "green";
                        } else if (players_ready.includes(element.username)) {
                            li.style.color = "yellow";
                        }
                        list.appendChild(li);
                    });
                    if(current_user == leader) {
                        ready_btn.style.display = 'none';
                    } else {
                        form_room.style.display = 'none';
                        leave_btn.style.marginLeft = '10px';
                    }

                    setTimeout(refreshPlayers, 1000); // Update each 1 second (1000 ms)
                });
            }
            $(document).ready(function() {
                refreshPlayers();
            });

            /* Checkboxs events */

            var percentage_div = document.getElementById('percentage_div');
            var default_div = document.getElementById('default_div');
            var custom_div = document.getElementById('custom_div');
            var range_div = document.getElementById('range_div');
            var difficulties_standarts_div = document.getElementById('difficulties_standarts_div');
            var difficulties_div = document.getElementById('difficulties_div');

            var percentageCheckbox = document.getElementById('percentage');
            var defaultCheckbox = document.getElementById('default');
            var customCheckbox = document.getElementById('custom');
            var rangeCheckbox = document.getElementById('range');
            var easyCheckbox = document.getElementById('easy');
            var mediumCheckbox = document.getElementById('medium');
            var hardCheckbox = document.getElementById('hard');

            percentageCheckbox.addEventListener('change', function () {
                if (percentageCheckbox.checked) {
                    custom_div.style.display = 'block';
                    range_div.style.display = 'block';
                    default_div.style.display = 'none';
                } else {
                    custom_div.style.display = 'none';
                    range_div.style.display = 'none';
                    default_div.style.display = 'block';
                    difficulties_standarts_div.style.display = 'none';
                    difficulties_div.style.display = 'none';
                    customCheckbox.checked = false;
                    rangeCheckbox.checked = false;
                    easyCheckbox.checked = false;
                    mediumCheckbox.checked = false;
                    hardCheckbox.checked = false;
                }
            });

            customCheckbox.addEventListener('change', function () {
                if (customCheckbox.checked) {
                    range_div.style.display = 'none';
                    difficulties_div.style.display = 'block';
                } else {
                    range_div.style.display = 'block';
                    difficulties_div.style.display = 'none';
                }
            });

            rangeCheckbox.addEventListener('change', function () {
                if (rangeCheckbox.checked) {
                    custom_div.style.display = 'none';
                    difficulties_standarts_div.style.display = 'block';
                } else {
                    custom_div.style.display = 'block';
                    difficulties_standarts_div.style.display = 'none';
                }
            });

            defaultCheckbox.addEventListener('change', function () {
                if (defaultCheckbox.checked) {
                    percentage_div.style.display = 'none';
                    difficulties_standarts_div.style.display = 'block';
                } else {
                    percentage_div.style.display = 'block';
                    difficulties_standarts_div.style.display = 'none';
                    difficulties_div.style.display = 'none';
                    easyCheckbox.checked = false;
                    mediumCheckbox.checked = false;
                    hardCheckbox.checked = false;
                }
            });

            /*Slider*/
            var slider = document.getElementById('slider');
            noUiSlider.create(slider, {
                start: [20, 80], // initial values
                connect: true, // connect the two inputs
                range: {
                    'min': 0,
                    'max': 100
                },
                step: 1
            });
            // Add the event to update values
            var minValueElement = document.getElementById('min-value');
            var maxValueElement = document.getElementById('max-value');
            var sliderValueInput = document.getElementById('sliderValue');
            slider.noUiSlider.on('update', function (values) {
                values[0] = parseInt(values[0]);
                values[1] = parseInt(values[1]);
                minValueElement.textContent = values[0];
                maxValueElement.textContent = values[1];
                sliderValueInput.value = values;
            });

            /* Ready function to send message to the server */
            function sendReadyServer() {
                var msg = {user: current_user};

                fetch("/receive_ready", {method: 'POST', headers: { 'Content-Type': 'application/json'}, body: JSON.stringify(msg)})
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Error sending the message.');
                })
                .then(data => {
                    console.log('Response of server:', data);
                    if(data.status == "Message receive with success") {
                        current_status = true;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            /* Message listener from the server to go to room when is ready */
            socket.on('go_to_room', function(data) {
                console.log("current_status " + current_status);
                if(current_status) {
                    window.location.href = "{{ url_for('room') }}";
                }
            });
        </script>
    </div>
</body>
</html>
